{%- if section.settings.image != blank -%}
    {% if section.blocks %}
      {% for block in section.blocks %}
        {% if block.type == 'desktop-banner' %}
          <div class="desktop-banner">
            {%- assign desktop_banner_image = block.settings.desktop_banner_image | image_url: '1920x940' -%}
            <img
              src="{{ desktop_banner_image }}"
              alt="Desktop Banner"
              width="1920"
              height="940"
            >
          </div>
        {% endif %}
  
        {% if block.type == 'mobile-banner' %}
          <div class="mobile-banner">
            {%- assign mobile_banner_image = block.settings.mobile_banner_image | image_url: '760x940' -%}
            <img
              src="{{ mobile_banner_image }}"
              alt="Mobile Banner"
              width="760"
              height="940"
            >
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {%- endif -%}

{% schema %}
{
  "name": "Banner-desktop-mobile",
  "settings": [],
  "blocks": [
    {
      "type": "desktop-banner",
      "name": "Desktop Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "desktop_banner_image",
          "label": "Desktop Banner Image"
        }
      ]
    },
    {
      "type": "mobile-banner",
      "name": "Mobile Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "mobile_banner_image",
          "label": "Mobile Banner Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner-desktop-mobile",
      "category": "Custom"
    }
  ]
}
{% endschema %}
